{% extends "base.html" %}

{% block content %}
    <h1>Generos</h1>
    <div class="text-end">
        <a class="btn btn-primary" href="/generos/nuevo">Nuevo</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Id</th>
                        <th style="width: 100px;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genero in lista %}
                    <tr>
                        <td>{{ genero.nombre }}</td>
                        <td>{{ genero.id }}</td>
                        <td>
                            <a class="btn btn-secondary btn-sm" href="/generos/detalle/{{ genero.id }}">
                                <i class="bi bi-pencil-square"></i>
                            </a> 
                            <a class="btn btn-danger btn-sm" href="/generos/eliminar/{{ genero.id }}" onclick="return confirm('¿Deseas eliminar este registro?')">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}