{% load autos_categoria_tag autos_marca_tag %}
<div class="bg-secondary-subtle">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
      <div class="col mb-3">
        <p class="text-body-secondary">© 2024</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Empresa</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nosotros</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Servicios</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Locales</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Seguros</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Términos y condiciones</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Marcas</h5>
        <ul class="nav flex-column">
          {% footer_marcas_menu %}
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Categorías</h5>
        <ul class="nav flex-column">
          {% footer_categoria_menu %}
        </ul>
      </div>
    </footer>
  </div>
</div>