{% extends "base.html" %}

{% block content %}
    <h1>Préstamo - Nuevo</h1>
    <div class="text-end">
        <a class="btn btn-secondary" href="/prestamos">Regresar</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" action="/prestamos/editar/{{ prestamo.id }}">
                <div class="mb-3">
                    <label for="inputUsuario" class="form-label">Usuario:</label>
                    <select class="form-select" name="usuario" id="inputUsuario" required >
                        <option value="">Seleccione una opción</option>
                        {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}" {% if usuario.id==prestamo.usuario_id %}selected{% endif %}>{{ usuario.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="inputLibro" class="form-label">Libro:</label>
                    <select class="form-select" name="libro" id="inputLibro" required >
                        <option value="">Seleccione una opción</option>
                        {% for libro in libros %}
                        <option value="{{ libro.id }}" {% if libro.id==prestamo.libro_id %}selected{% endif %}>{{ libro.titulo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="inputFechaPrestamo" class="form-label">Fecha Préstamo:</label>
                    <input type="date" class="form-control" name="fechaPrestamo" id="inputFechaPrestamo" value="{{ prestamo.fecha_prestamo }}" />
                </div>
                <div class="mb-3">
                    <label for="inputFechaDevolucion" class="form-label">Fecha Devolución:</label>
                    <input type="date" class="form-control" name="fechaDevolucion" id="inputFechaDevolucion" value="{{ prestamo.fecha_devolucion }}" />
                </div>
                <div class="mb-3">
                    <label for="inputEstado" class="form-label">Estado:</label>
                    <select class="form-select" name="estado" id="inputEstado">
                        <option value="Prestado" {% if prestamo.estado=='Prestado' %}selected{% endif %}>Prestado</option>
                        <option value="Devuelto" {% if prestamo.estado=='Devuelto' %}selected{% endif %}>Devuelto</option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}